<ul class="nav nav-list">
  <li class="highlight hover" [routerLinkActive]="['active']">
    <a routerLink="/dashboard" class="dropdown-toggle">
      <i class="menu-icon fa fa-tachometer"></i>
      <span class="menu-text">大屏管理</span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="highlight hover" [routerLinkActive]="['active']">
        <a routerLink="/dashboard/new">
          新建大屏
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>
  <li class="highlight hover" [routerLinkActive]="['active']">
    <a routerLink="/theme" class="dropdown-toggle">
      <i class="menu-icon fa fa-superpowers"></i>
      <span class="menu-text">主题</span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="highlight hover" [routerLinkActive]="['active']">
        <a routerLink="/theme/new">
          新建主题
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>
  <li class="highlight hover" [routerLinkActive]="['active']">
    <a routerLink="/charts" class="dropdown-toggle">
      <i class="menu-icon fa fa-area-chart"></i>
      <span class="menu-text">图表管理</span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="highlight hover" [routerLinkActive]="['active']">
        <a routerLink="/chart/new">
          新建图表
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>
  <li class="highlight hover" [routerLinkActive]="['active']">
    <a routerLink="/user">
      <i class="menu-icon fa fa-users"></i>
      <span class="menu-text">用户管理</span>
    </a>
    <b class="arrow"></b>
  </li>
  <li class="highlight hover" [routerLinkActive]="['active']">
    <a routerLink="/settings">
      <i class="menu-icon fa fa-desktop"></i>
      <span class="menu-text">系统设置</span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
  </li>

</ul>

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
    data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
